<div class="text-center">
    <h1 class="p-6">Tu Perfil:</h1>
<div class="masthead2 text-white">
    <h2>Nombre: {{userFound.username}}</h2>
    <hr>
    <img class="img img-fluid rounded-circle" src="{{userFound.avatar}}">
    <hr>
    <h3>Correo: {{userFound.email}}</h3>
    <hr>
    {{#if isAdmin}}
    <h3>Permisos: {{userFound.profile}}</h3>
    {{/if}}
    {{#unless isAdmin}}
    <h3>Estas son tus Citas:</h3>
    <hr>
    <ul>
        {{#each userFound.appointment}}
        <li>{{fecha date}}</li>
        <hr>
        {{/each}}
    </ul>
    {{/unless}}
    </div>
</div>