<h1>Lista de Usuarios</h1>

{{#each userData}}
    <h2>{{username}}</h2>
    <p>{{email}}</p>
    <p>Perfil: {{profile}}</p>
    <img src="{{avatar}}">
    <a href="/user/{{id}}/edit">Editar Permisos</a>
{{/each}}

<a href="/"><button>Return homepage</button></a>