<div class="p-5">
    <h1>Lista de Usuarios</h1>

    {{#each userData}}
    <h2>{{username}}</h2>
    <img class="img img-fluid rounded-circle" src="{{avatar}}">
    <h4>{{email}}</h4>
    <p>Perfil: {{profile}}</p>
    <a class="btn btn-secondary rounded-pill mt-3"  href="/user/{{id}}/edit">Editar Permisos</a>
    <hr>
    {{/each}}
    <a class="btn btn-primary rounded-pill mt-5" href="/">Regresar a Home</a>
</div>