<hr>
<hr>
<hr>
<h1>Tu Perfil</h1>

<h1>Hola {{username}}</h1>

<h3>Correo {{email}}</h3>

<img src="{{avatar}}">
<hr>
<h3>Estas son tus Citas:</h3>

<ul>
    {{#each appointment}}
    <li>{{date}}</li>
    <li>{{idService}}</li>
    
    <hr>
    {{/each}}
</ul>

