<div class="p-5 text-center">
    <h2>Editar Consulta: {{service.name}}</h2>

    <form class="form-control" action="/services/{{service.id}}/edit" method="post">
        <label class="labelClass"> Nombre:
            <br>
            <input type="text" name="name" value="{{service.name}}" />
        </label>
        <br>

        <label class="labelClass"> Descripción:
            <br>
            <textarea name="details" cols="30" rows="4">{{service.details}}</textarea>
        </label>
        <br>
        <label class="labelClass"> Precio:
            <br>
            <input type="text" name="price" value="{{service.price}}" />
        </label>
        <br>
        <button class="btn btn-primary rounded-pill mt-3">Guardar cambios</button>
    </form>
    <a class="btn btn-primary rounded-pill mt-3" href="/services">Regresar a la lista</a>
</div>